* {
    padding: 0;
    margin: 0;
}
.topnav {
    height: 80px;
    background-color: black;
}

.topnav a {
    
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-decoration: none;
    float: right;
    display: flex;
    gap: 20px;
    padding-right: 50px;
    align-items: center;
    padding-top: 30px;

}
a:hover{
    color: burlywood;
}
#h1:hover{
    color: burlywood;
}

#h1 {
    color: rgb(255, 253, 253);
    float: left;
    padding: 15px;
    padding-left: 100px;
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
.login{  
    width: 465px;  
    height: 465px;
    overflow: hidden;  
    margin: auto;  
    margin: 20 0 0 450px;  
    padding: 80px;    
    border-radius: 80px ;
    padding-top: 120px;  
      
}  
h2{  
text-align: center;  
color:#000;  
padding: 20px;  
}  
label{  
color: #fff;  
font-size: 17px;  
}  
#username{  
width: 300px;  
height: 30px;  
border: none;  
border-radius: 3px;  
padding-left: 8px;  
}  
#password{  
width: 300px;  
height: 30px;  
border: none;  
border-radius: 3px;  
padding-left: 8px;  
  
}  
#log{  
width: 300px;  
height: 30px;  
border: none;  
border-radius: 17px;  
padding-left: 7px;  
color: blue;  


}  
span{  
color: white;  
font-size: 17px;  
}  
.forget{
    color: #fff;
    text-decoration: none;
    float:right;
}